.page-header {
  border-bottom: 1px solid var(--border-line-color);
  & span {
    color: var(--logo-color-main);
  }
  
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 145px;
  margin-top: 25px;
  margin-bottom: 24px;
  color: var(--logo-color-header);
}
