.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  & span {
    color: var(--logo-color-main);
  }

  @media screen and(min-width: 768px){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
 

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--logo-color-footer);

  @media screen and(min-width: 768px){
    display: flex;
 
  }

  @media screen and(min-width: 1200px){
    text-align: left;
    font-size: 26px;
    line-height: 1.19;
  }

}

.subscription-container {
display: block;
margin-top: 60px;
align-items: center;

// @media screen and(min-width: 1200px){
//   display: flex;
//   flex-direction: column;
//   align-items: baseline;
//   margin-left: 70px;
// }



 
  & .subscription-container__title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: var(--logo-color-footer);
    text-transform: uppercase;
    text-align: center;
  }
}
