.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  & span {
    color: var(--logo-color-main);
  }
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--logo-color-footer);
}

.subscription-container {
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
  & .subscription-container__title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: var(--logo-color-footer);
    text-transform: uppercase;
  }
}
