.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.benefits-list__items {
  list-style-type: none;
  margin: 15px;
 

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;  

  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    width: 270px;

  }
}

.benefits-list__icon-container {
  height: 120px;
 background: rgba(245, 244, 250, 1);
 margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

 
}

.benefits-list__icon-container__icon {
  width: 70px;
  height: 70px;
  display: block;
  align-items: center;
}

.benefits-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
