.customers-section {
  padding-top: 94px;
}

.customers-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.customers-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: -30px;
  
 
  list-style-type: none;
  padding-bottom: 94px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
  @media screen and (min-width: 1200px) {
  justify-content: space-around;
}
}

.customers-section__list__item {
  margin-bottom: 30px;

 
  @media screen and (min-width: 768px) and (max-width: 1199px){
    width: calc(100% / 3 - 15px);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;

  }
}



.customers-section__list__item__link {
  & .customers-section__list__item__link__logo {
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    fill: rgba(175, 177, 184, 1);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .customers-section__list__item:hover &,
    .customers-section__list__item:focus & {
      fill: var(--logo-color-main);
      border-color: var(--logo-color-main);
    }
  }
}
