.filter-container {
margin-bottom: 40px;

@media screen and (min-width: 768px){
margin-bottom: 14px;
  }
  
@media screen and (min-width: 1200px){
margin-bottom: 34px;
  }
}

.portfolio-filter-list {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

  @media screen and (min-width: 1200px){
    display: flex;
    justify-content: center;
  }
}

.portfolio-filter-list__items {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  text-align: left;
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-button {
  text-decoration: none;
  list-style-type: none;
  background-color: var(--team-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--logo-color-header);

  color: var(--nav-color);
  padding: 6px 22px 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--logo-color-main);
    color: var(--logo-color-footer);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

 
}



