:root {
  --logo-color-main: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --team-color: #f5f4fa;
  --text-color: #757575;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --nav-color: #212121;
  --border-line-color: #ececec;
  --services-container-color: #eeeeee;
}
